body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.search {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.logo img {
    width: 3rem;
}

p {
    font-size: 12px;
}

.search input {
    height: 0px !important;
    font-size: 10px;
    margin: 0px 5px;
    outline: none;
    min-width: 100px;
}

nav ul {
    flex-wrap: wrap;
    font-size: .81rem;
}

nav ul li {
    margin: 1vw;
}

.slider img {
    width: 100vw;
    height: 100%;
}

.items img {
    height: 6rem;
}

.logo {
    padding-top: 10px
}

.items {
    min-height: 200px;
    min-width: 120px;
}

.items img {
    width: fit-content !important;
    object-fit: contain;
}

.card-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 5vh;
}

.aboutus p {
    font-size: 10px;
}

#about {
    padding: .1rem 0rem;
}

.aboutus {
    text-align: justify;
    margin: 1rem;
}