body {
    scroll-behavior: smooth;
}

nav {
    flex-direction: column;
}

.logo {
    justify-content: center;
}

nav ul {
    justify-content: center;
}

.search {
    justify-content: center;
}

.search input {
    width: 40vw;
    justify-content: center;
}